*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
kotlin-js-store
.env
firebase-service-account*.json
*firebase-adminsdk*.json
application_default_credentials.json
*.pem
*.key
app/iosApp/Configuration/Local.xcconfig
app/androidApp/google-services.json
app/iosApp/iosApp/GoogleService-Info.plist
